.hero{
    width: 80%;
    height: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.hero-text{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-text #greet{
    font-size: 2rem;
    font-weight: 500;
}

.hero-text #name{
    font-size: 3.5rem;
    font-weight: 500;
    padding: 10px auto;
    color: chocolate;
}

.hero-anim{
    margin-top: 20px;
    margin-bottom: 10px;
}

.hero-anim p{
    font-weight: 400;
    font-size: 1.5rem;
}

.hero-btn{
    display: flex;
    justify-content: start;
    margin: 30px 5px;
}

.hero-btn button{
    padding: 5px 10px;
    border-radius: 5%;
    background-color: rgb(194, 110, 50);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 5px black;
}

.hero-img{
    min-width: 30%;
    position: relative;
}

.icon-user img {
  width: 350px;
  padding: 20px;
  box-shadow: 0px 0px 15px black;
  animation: userImg 5s linear infinite;
  z-index: -1;
}

@keyframes userImg {
  0% {
    transform: scale(0.7);
    filter: grayscale(0);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.7);
    filter: grayscale(1);
  }
}

.icon-dots img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  animation: dotsImg 5s linear infinite;
}

@keyframes dotsImg {
  0% {
    transform: scale(0.7) translateY(0px);
  }

  50% {
    transform: scale(0.8) translateY(20px);
  }

  100% {
    transform: scale(0.7) translateY(0px);
  }
}

.icon-cube img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  animation: cubeImg 5s linear infinite;
}

@keyframes cubeImg {
  0% {
    transform: scale(1) rotateY(0deg);
  }

  50% {
    transform: scale(1) rotateY(180deg);
  }

  100% {
    transform: scale(1) rotateY(0deg);
  }
}

.icon-circle img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  animation: circleImg 5s linear infinite;
}

@keyframes circleImg {
  0% {
    transform: scale(1) translate(0rem, 0rem);
  }

  50% {
    transform: scale(1) translate(2rem, 2rem);
  }

  100% {
    transform: scale(1) translate(0rem, 0rem);
  }
}

.icon-zigzags img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  animation: zigzagImg 5s linear infinite;
}

@keyframes zigzagImg {
  0% {
    transform: scale(1) translateX(0rem);
  }

  50% {
    transform: scale(1) translateX(2rem);
  }

  100% {
    transform: scale(1) translateX(0rem);
  }
}


@media only screen and (max-width:768px) {
  .hero{
    width: 100%;
    flex-direction: column;
  }

  .hero-text{
    width: 100%;
  }
  
  .hero-anim{
    height: 200px;
  }
}

