.project-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
}

.project-section-heading {
  text-align: center;
  color: rgb(206, 108, 72);
  font-size: 70px;
  margin-top: 1rem;
  padding: 1rem;
}

.project-container {
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 10rem;
}

.project-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px auto;
}

.project-group-heading{
  font-size: 40px;
  font-weight: bold;
  margin: 30px auto;
  color: rgb(222, 101, 64);
  text-align: left;
}

.project-group-cards{
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.project-detail {
  position: relative;
  height: 300px;
  width: 500px;
  background-image: url("../../images/projects/studynotion.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0px 0px 30px black;
  z-index: 0;
}

/* it will look after hover removed*/
.project-detail::after{
  content: "";
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
}

/* it will look after hover added*/
.project-detail::before{
  content: "";
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(206, 108, 72,0.5);
  transform: scaleX(0);
  transition: all .4s;
  transform-origin: left;
  z-index: 1;
}

/* hover going on */
.project-detail:hover::before{
  transform: scaleX(1);
}



.project-number-left{
  position: absolute;
  top:-30px;
  left: -30px;
  font-size: 70px;
  font-weight: 600;
  color: white;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.4s;
}

.project-detail:hover .project-number-left{
  opacity: 1;
}

.project-number-right{
  position: absolute;
  top:-10px;
  right: -10px;
  font-size: 150px;
  font-weight: 600;
  color: white;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.4s;
}

.project-detail:hover .project-number-right{
  opacity: 1;
}

.project-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1rem;
  transition: transform .4s;
}

.project-detail:hover .project-content{
  transform: scale(1.1);
}

.skill-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-icon{
  width: 25px;
}

.project-heading{
  font-size: 1.75rem;
  font-weight: 400;
}

.btn-grp{
  display: flex;
  gap:2rem;
  align-items: center;
}

#project1{
  background-image: url("../../images/projects/studynotion.png");
}

#project21{
  background-image: url("../../images/projects/shopping_cart.png");
}

#project31{
  background-image: url("../../images/projects/weatherapp.png");
}
#project32{
  background-image: url("../../images/projects/devdetective.png");
}
#project33{
  background-image: url("../../images/projects/password_generator.png");
}

#project41{
  background-image: url("../../images/projects/razorpay_clone.png");
}

#project42{
  background-image: url("../../images/projects/discord_clone.png");
}

#project43{
  background-image: url("../../images/projects/nike_clone.png");
}

#project51{
  background-image: url("../../images/projects/imagegallery.png");
}

#project52{
  background-image: url("../../images/projects/portfolio.png");
}



.project-btn{
    padding: 5px 10px;
    border-radius: 5%;
    background-color: rgb(224, 224, 113);
    color: rgb(29, 24, 24);
}

.exploreGitProfile{
    text-align: center;
    font-size: 30px;
    color: rgb(28, 81, 205);
    padding-bottom: 50px;
    font-weight: 600;
}

@media only screen and (max-width:768px) {
  .project-group-cards{
    flex-direction: column;
  }

  .project-detail{
    width: 90%;
    margin: auto;
  }
}
