.body{
    width : 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#faded-text{
    user-select: none;
    font-size: 5rem;
    opacity: 0.25;
    position: absolute;
    left: 0;
    bottom: -5rem;
}

